<div class="container skymap">
  <div class="inner">
    hello
  </div>
</div>


<div class="container">
  <div class="inner">
    <ul>
    <% @observations.each do |observation| %>
      <li><%= observation.source %></li>
      <li><%= observation.target %></li>
      <li><%= observation.ra %></li>
      <li><%= observation.dec %></li>
      <li><%= observation.ra_str %></li>
      <li><%= observation.dec_str %></li>
      <li><%= observation.b %></li>
      <li><%= observation.l %></li>
      <li><%= observation.end %></li>
      <li><%= observation.start %></li>
    <% end %>
    </ul>
  </div>
</div>
