<div class="container filters">
  <div class="inner cf">
    <%= form_tag :class => "cf" do %>
      <div class="inputContainer opticals cf">
        <div class="hotdrop"><span style="padding-left: 8px;">Select Source(s)</span><span style=" float:right; text-align: right;">▾</span>
          <div class="opticalDrop cf">
            <% [ "XMM-Newton", "Fermi", "AGILE", "Chandra", "INTEGRAL", "NuStar", "RXTE", "Suzaku", "Swift", "Herschel", "Spitzer" ].each do |source| %>
            <%= check_box_tag('source[]', source, true) %>
              <%= label_tag('source[]', source) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="inputContainer">
      <%= label_tag(:target, "Target:") %>
      <%= text_field_tag(:target) %>
      </div>
      <div class="inputContainer">
      <%= label_tag(:start, "Start:") %>
      <%= content_tag(:input, nil, type: 'date', name: 'start', value: 1.week.ago.to_date) %>
      </div>
      <div class="inputContainer">
      <%= label_tag(:end, "End:") %>
      <%= content_tag(:input, nil, type: 'date', name: 'end', value: 1.week.from_now.to_date) %>
      </div>
      <div class="inputContainer">
      <%= submit_tag("Filter", :id => "filter") %>
      </div>
    <% end %>
  </div>
</div>
<div id="ledgend" class="container">
  <div class="inner cf">
    <span class="fl">Satellite Legend: </span>
<ul class="legend fl"></ul>
</div>
</div>
<div class="container skymap">
  <div class="inner"></div>
  <div id="coordinates"><span id="l_coord"></span> <span id="b_coord"></span> :coordinates</div>
</div>

<script id="modal-template" type="text/x-handlebars-template">
  <h2>{{target}}</h2>
  {{#if images}}
    <a href="{{nedUrl}}" target="_blank"><img src="{{firstImage}}" alt="detailed image"></a>
  {{/if}}
  <div><strong>Source</strong> {{source}}</div>
  <div><strong>Start</strong> {{formatTime start}}</div>
  <div><strong>End</strong> {{formatTime end}}</div>
  <button class="closeButton cf">Close</button>
</script>

<div class="container">
  <div class="inner">
    <h3 style="margin: 20px 0 10px 0;">Calendar Range</h3>
    <div id="tl" style="height: 400px; border: 1px solid #aaa;"></div>
    <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
  </div>
</div>


<div class="container faq">
  <div class="inner cf">
    <div class="content fl">
      <h1>Frequently Asked Questions</h1>
      <h3>This is a Question</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>This is a Question</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>This is a Question</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    <div class="satinfo fl"> 
      <h3>Satellite Information</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>



<div class="conatiner">
<footer>
<div class="inner">  
  <p>©2013. Created during the <a href="http://spaceappsnyc.com/" target="blank">Space Apps Challenge NYC</a>.</p>
</div>
</footer>

</div><script>
    SimileAjax.History.enabled = false;


    var kvp = {
      'XMM-Newton':'#007ab9',
      'Fermi':'#a10974',
      'AGILE':'#7dcd0d',
      'Chandra':'#26a100',
      'INTEGRAL':'#dadd00',
      'NuSTAR':'#28ced4',
      'RXTE':' #ffb629',
      'Suzaku':'#df5400',
      'Swift':'#ff3838',
      'Herschel':'#2c41de;',
      'Spitzer':'#c700b7'
    }

    function transformJSON(data) {

        for(var evt in data){
            data[evt].start = new Date(data[evt].start);
            data[evt].end = new Date(data[evt].end);
            data[evt].title = data[evt].target;
            data[evt].description = data[evt]._id;
            data[evt].color = kvp[data[evt].source];
        }
        return {'events': data};
    }

    // Timeline and eventSource1
    var tl;
    var eventSource1;

    // Initialize timeline and load data from variable `timeline_data`
    function initTimeline(data) {

        var tl_el = document.getElementById("tl");
        eventSource1 = new Timeline.DefaultEventSource();

        var theme1 = Timeline.ClassicTheme.create();
        theme1.event.bubble.height = 220;
        theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                                 // Set autoWidth on the Timeline's first band's theme,
                                 // will affect all bands.
        theme1.timeline_start = new Date(Date.UTC(1924, 0, 1));
        theme1.timeline_stop  = new Date(Date.UTC(2160, 0, 1));

        var d = Timeline.DateTime.parseGregorianDateTime("1900")
        var bandInfos = [
            Timeline.createBandInfo({
                width:          "80%",
                intervalUnit:   Timeline.DateTime.DAY,
                intervalPixels: 200,
                eventSource:    eventSource1
              //  theme:          theme
            }),
            Timeline.createBandInfo({
                width:          "20%",
                intervalUnit:   Timeline.DateTime.WEEK,
                intervalPixels: 200,
                eventSource:    eventSource1,
                overview:       true
               // theme:          theme
            })
        ];

        bandInfos[1].syncWith = 0;
        bandInfos[1].highlight = true;

        // create the Timeline
        tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

        var url = '.'; // The base url for image, icon and background image
                       // references in the data
        data = transformJSON(data);
        eventSource1.loadJSON(data, url); // The data was stored into the

        Timeline.OriginalEventPainter.prototype._showBubble = function(x, y, evt) {
          var id     = evt.getDescription().toLowerCase().replace(/\|/, '-');
          showModal(d3.select('#' + id).datum());
        }

        tl.layout(); // display the Timeline
    };


    // Resizing from distribution example
    var resizeTimerID = null;
    function onResize() {
        if (resizeTimerID == null) {
            resizeTimerID = window.setTimeout(function() {
                resizeTimerID = null;
                tl.layout();
            }, 500);
        }
    }
 </script>
