<div class="container skymap">
  <div class="inner">
    <p>This is where the dynamic image of the universe goes. Currently a placeholder. </p>
  </div>
</div>

<div class="container" style="background: green;">
  <div class="inner">
    <p>Timeline Calendar will go here.</p>
  </div>
</div>




<div class="container">
  <div class="inner">
    <p>data for testing from datapoints</p>
    <ul>
    <% @observations.each do |observation| %>
      <li><%= observation.source %></li>
      <li><%= observation.target %></li>
      <li><%= observation.ra %></li>
      <li><%= observation.dec %></li>
      <li><%= observation.ra_str %></li>
      <li><%= observation.dec_str %></li>
      <li><%= observation.b %></li>
      <li><%= observation.l %></li>
      <li><%= observation.end %></li>
      <li><%= observation.start %></li>
    <% end %>
    </ul>
  </div>
</div>
