<div class="container filters">
  <div class="inner">
    <%= form_tag do %>
      <% [ "XMM-Newton", "Fermi", "AGILE", "Chandra", "INTEGRAL", "NuSTAR", "RXTE", "Suzaku", "Swift", "Herschel", "Spitzer" ].each do |source| %>
        <%= label_tag('source[]', source) %>
        <%= check_box_tag('source[]', source, true) %>
      <% end %>

      <%= label_tag(:target, "Target:") %>
      <%= text_field_tag(:target) %>

      <%= label_tag(:start, "Start:") %>
      <%= content_tag(:input, nil, type: 'date', name: 'start', value: 1.week.ago.to_date) %>

      <%= label_tag(:end, "End:") %>
      <%= content_tag(:input, nil, type: 'date', name: 'start', value: 1.week.from_now.to_date) %>

      <%= submit_tag("Filter", :id => "filter") %>
    <% end %>
  </div>
</div>

<div class="container skymap">
  <div class="inner"></div>
  <ul class="legend"></ul>
</div>

<div class="container" style="background: green;">
  <div class="inner">
    <p>Timeline Calendar will go here.</p>
  </div>
</div>
