<!DOCTYPE html>
<html>
<head>
  <title>International Space Apps Challenge: My Space Cal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Righteous' rel='stylesheet' type='text/css'>

  <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="avgrund-contents">
    <div id="vote" class="container">
      <div class="inner">
        <a href="https://twitter.com/intent/tweet?text=I%20vote%20%23spacecalnyc%20for%20%40spaceapps%20People%27s%20Choice%20Award!" target ="_blank">Vote for Us - NASA Space Apps 2013 Global Competitor »</a>
      </div>
    </div>
    
    
    <header class="container cf">
      <div class="inner">
        <h1 id="main_title" class="fl" ><%= link_to 'SpaceCalNYC', root_path %></h1>
      <ul style="float: right;">
        <li id="satinfo"><a href="#faq" class="scrollto">Satellite Information</a></li>
        <li><a href="https://twitter.com/spacecalnyc" target="_blank">@spacecalnyc</a></li>
        <li><%= link_to 'Export Data', export_observations_path, id: 'exportLink', :class => "btn" %></li>
      </ul>
      </div>
    </header>
    <%= yield %>
  </div>

  <div class="cover"></div>

  <!-- This is the modal -->
  <aside id="default-popup" class="avgrund-popup">
  </aside>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40349860-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
